.menu{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 42px;
  background-color: #29434E;
  position: relative;
  overflow-y: visible;
}

.menu--logo{
  display: block;
  width: 188px;
  height: 42px;
  background-image: url("../medias/img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 8px;
  position: relative;
}

.menu--search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 260px;
  height: 42px;
  background-color: rgb(121, 152, 165);
  padding: 4px 6px;
}

.blank{
  width: 100%;
  height: 100%;
  background-color: white;
}

.menu--nav{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  width: auto;
  height: 26px;
  top: 8px;
  overflow-y: visible;
}